# Ignore node_modules for Node.js projects
node_modules/

# Ignore log files
*.log

# Ignore environment files
.env

# Ignore system files (macOS, Windows, etc.)
.DS_Store
Thumbs.db

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore IDE-specific files (e.g., VSCode, IntelliJ)
.vscode/
.idea/

# Ignore build artifacts
dist/
build/

# Ignore excel files, csv files, zip files
*.xlsx
*.csv
*.zip